<div class="presentation-header">
  <div class="presentation-header-content">
    <h1 class="md-display-4">Estude a Bíblia</h1>
  </div>
</div>
<div flex layout="column" layout-fill class="presentation">
  <ng-include src="'/modules/core/client/views/header.client.view.html'" class="toolbar-container"></ng-include>

  <!-- Area menu e conteúdo -->
  <!-- Menu -->
  <menu-app></menu-app>
  <!-- Area de trabalho -->
  <div class="presentation-content">
    <h1 class="md-display-4">Estude a Bíblia</h1>
  </div>
</div>
