<md-dialog aria-label="Adicionar Nota" class="refs-dialog">
  <form ng-cloak name="vm.verseRef" class="vertical-autocomplete-form" ng-submit="vm.addRef(vm.verseRef.$valid)" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Adicionar Referência</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.hide()">
          <md-icon md-font-set="material-icons" aria-label="Fechar Janela">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <label ng-if="!vm.versesRefs.verse">Versos Selecionados: {{ vm.selectedVerses }}</label>
        <label ng-if="vm.versesRefs.verse">Verso: {{ vm.versesRefs.verse }}</label>
        <div layout="row" layout-wrap>
          <md-autocomplete flex="50" required
                           md-selected-item-change="vm.getBookChapters(item)"
                           md-search-text-change="vm.clearFields()"
                           md-input-name="selectedBook"
                           md-min-length="0"
                           md-selected-item="vm.form.selectedBook"
                           md-search-text="vm.booksSearchTerm"
                           md-items="item in vm.booksQuerySearch(vm.booksSearchTerm)"
                           md-item-text="item.name"
                           md-require-match
                           required
                           md-floating-label="Livro">
            <md-item-template>
              <span md-highlight-text="vm.booksSearchTerm" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
              Nenhum livro para o termpo "{{vm.booksSearchTerm}}" foi encontrado.
            </md-not-found>
            <div ng-messages="vm.verseRef.selectedBook.$error" ng-if="vm.verseRef.selectedBook.$touched">
              <div ng-message="required">Este campo é obrigatório.</div>
              <div ng-message="md-require-match">Por favor, selecione um livro existente.</div>
            </div>
          </md-autocomplete>
          <md-autocomplete flex="50" required
                           ng-disabled="vm.chapters.length === 0"
                           ng-blur="vm.checkSelectedChapter(vm.chaptersSearchTerm)"
                           md-selected-item-change="vm.getChapterVerses(item)"
                           md-input-name="selectedChapter"
                           md-min-length="0"
                           md-selected-item="vm.form.selectedChapter"
                           md-search-text="vm.chaptersSearchTerm"
                           md-items="item in vm.chaptersQuerySearch(vm.chaptersSearchTerm)"
                           md-item-text="item.number"
                           md-require-match
                           md-floating-label="Capítulo"
                           required>
            <md-item-template>
              <span md-highlight-text="vm.chaptersSearchTerm">{{item.number}}</span>
            </md-item-template>
            <div ng-messages="vm.verseRef.selectedChapter.$error" ng-if="vm.verseRef.selectedChapter.$touched">
              <div ng-message="required">Este campo é obrigatório.</div>
              <div ng-message="md-require-match">Por favor, selecione um capítulo existente.</div>
            </div>
          </md-autocomplete>
          <md-autocomplete flex="100" required
                           ng-disabled="vm.verses.length === 0"
                           ng-blur="vm.checkSelectedVerse(vm.versesSearchTerm)"
                           md-input-name="selectedVerse"
                           md-min-length="0"
                           md-selected-item="vm.form.selectedVerse"
                           md-search-text="vm.versesSearchTerm"
                           md-items="item in vm.versesQuerySearch(vm.versesSearchTerm)"
                           md-item-text="item.number"
                           md-require-match
                           md-floating-label="Verso"
                           required>
            <md-item-template>
              <span md-highlight-text="vm.versesSearchTerm">{{item.number}}</span> - <span class="light-color">{{item.text}}</span>
            </md-item-template>
            <div ng-messages="vm.verseRef.selectedVerse.$error" ng-if="vm.verseRef.selectedVerse.$touched">
              <div ng-message="required">Este campo é obrigatório.</div>
              <div ng-message="md-require-match">Por favor, selecione um versículo existente.</div>
            </div>
          </md-autocomplete>
          <md-input-container flex="100" layout="row" layout-align="center center">
            <md-button class="md-warn" ng-click="vm.clearFields()">
              <md-icon md-font-set="material-icons">clear</md-icon>
              Limpar
              <md-tooltip>Limpar Campos</md-tooltip>
            </md-button>
            <md-button class="md-primary md-raised" type="submit">
              <md-icon md-font-set="material-icons">add_circle</md-icon>
              Adicionar
              <md-tooltip>Adicionar Referência</md-tooltip>
            </md-button>
          </md-input-container>
        </div>
        <div layout="column">
          <h3>Referências</h3>
          <md-chips ng-model="vm.versesRefs.refs" class="visual-chips" md-removable="true" md-require-match="true">
            <md-autocomplete md-selected-item="[]" md-search-text="vm.searchText" md-items="item in []" md-item-text="item" placeholder=""></md-autocomplete>
            <md-chip-template>
              <span>{{vm.getRefHumanized($chip)}}</span>
            </md-chip-template>
          </md-chips>
        </div>
      </div>
    </md-dialog-content>
  </form>
  <md-dialog-actions layout="row">
    <md-button ng-click="vm.hide()">
      <md-icon md-font-set="material-icons">cancel</md-icon>
      Cancelar
    </md-button>
    <md-button class="md-raised md-primary" ng-click="vm.saveRefs()" ng-disabled="!vm.versesRefs.refs || vm.versesRefs.refs.length === 0">
      <md-icon md-font-set="material-icons">save</md-icon>
      Salvar
    </md-button>
  </md-dialog-actions>
</md-dialog>
