.verse p.verse-text {
	padding: 5px 10px;
	margin: 8px 0px;
	font-size: 1em;
	display: inline-table;
	border-radius: 2px;
}

.verse p.verse-text sup {
	font-weight: bold;
	padding-right: 5px;
}

span.highlight {
	background-color: #f8ffaa;
	color: #9a9a9a
}

.more-preview {
	right: 58px;
}
.notes-preview {
	left: 54px;
}
.notes-preview, .more-preview {
	position: absolute;
	z-index: 70;
	width: 350px;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: 0.2s cubic-bezier(0.35, 0, 0.25, 1);
	-webkit-transition-property: max-height;
	-moz-transition: 0.2s cubic-bezier(0.35, 0, 0.25, 1);
	-moz-transition-property: max-height;
	transition: 0.2s cubic-bezier(0.35, 0, 0.25, 1);
	transition-property: max-height;
}

.notes-preview md-card-content, .more-preview md-card-content {
	max-height: 260px;
	overflow: auto;
}

.notes-preview p, .more-preview p {
	padding-left: 10px;
	margin: 0 0 10px;
}

.notes-preview span, .more-preview span {
	color: #969696;
	line-height: 35px;
}

.notes-preview md-divider, .more-preview md-divider {
	position: relative;
}

.verse .pre-verse:hover .notes-preview, .notes-preview:hover, .notes-preview.show, .verse .pos-verse:hover .more-preview, .more-preview:hover, .more-preview.show {
	max-height: 350px;
}

.verse .pre-verse, .verse .pos-verse {
	width: 50px;
	min-width: 50px;
	height: 100%;
	display: inline-block;
}

.verse .pre-verse > .note-button, .verse .pos-verse > .more-button {
	display: none;
	width: 40px;
	margin: 0;
}

.verse.has-note .pre-verse > .note-button, .verse.has-more .pos-verse > .more-button {
	display: inline-block;
}

.verse.yellow p.verse-text {
	background-color: rgba(246, 246, 110, 1);
}
.color-button.yellow md-icon {
	color: rgba(246, 246, 110, 1);
}
.md-button.color-button.yellow:hover {
	color: rgba(246, 246, 110, .8);
}

.verse.red p.verse-text {
	background-color: #c55757;
	color: #FFFFFF;
}
.color-button.red md-icon {
	color: #c55757;
}
.md-button.color-button.red:hover {
	opacity: .8;
}

.verse.purple p.verse-text {
	background-color: #805998;
	color: #FFFFFF;
}
.color-button.purple md-icon {
	color: #805998;
}
.md-button.color-button.purple:hover {
	opacity: .8;
}

.verse.blue p.verse-text {
	background-color: #617ab0;
	color: #FFF;
}
.color-button.blue md-icon {
	color: #617ab0;
}
.md-button.color-button.blue:hover {
	opacity: .8;
}

.verse.green p.verse-text {
	background-color: rgba(91, 154, 142, 1);
	color: #FFFFFF;
}
.color-button.green md-icon {
	color: rgba(91, 154, 142, 1);
}
.md-button.color-button.green:hover {
	color: rgba(91, 154, 142, .8);
}

.verse.pink p.verse-text {
	background-color: rgba(241, 192, 237, 1);
}
.color-button.pink md-icon {
	color: rgba(241, 192, 237, 1);
}
.md-button.color-button.pink:hover {
	color: rgba(241, 192, 237, .8);
}

.verse.orange p.verse-text {
	background-color: rgba(236, 176, 124, 1);
}
.color-button.orange md-icon {
	color: rgba(236, 176, 124, 1);
}
.md-button.color-button.orange:hover {
	color: rgba(236, 176, 124, .8);
}

md-list.md-dense md-list-item .md-list-item-text.verse-list-item .verse p {
	font-size: .85em;
}

md-list.md-dense md-list-item .md-list-item-text.verse-list-item {
	min-height: 45px;
	width: 100%;
	outline: none;
}

md-list.md-dense md-list-item .md-list-item-text.verse-list-item:hover {
	background-color: #F3F3F3;
}

md-list-item.highlighted .md-list-item-text.verse-list-item {
	background-color: rgba(158, 158, 158, 0.2);
}
md-list.md-dense md-list-item.highlighted .md-list-item-text.verse-list-item:hover {
	background-color: rgba(158, 158, 158, 0.3);
}

md-list-item.selected .md-list-item-text.verse-list-item {
	background-color: rgba(158, 158, 158, 0.4);
}
md-list.md-dense md-list-item.selected .md-list-item-text.verse-list-item:hover {
	background-color: rgba(158, 158, 158, 0.5);
}
.md-list-item-text h3 em, .md-list-item-text h4 em {
	color: #969696;
}

.select-search-select-header {}

.select-search-select-header .select-header-searchbox {
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	padding: 0;
}

.select-search-select-header .select-search-header {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
	padding-left: 10.667px;
	height: 48px;
	cursor: pointer;
	position: absolute;
	display: flex;
	align-items: center;
	width: auto;
	z-index: 40;
	width: 100%;
}

.select-search-select-header md-content._md {
	max-height: 240px;
	overflow: hidden;
	padding: 0;
}

.select-search-select-header md-content._md md-optgroup {
	max-height: 190px;
	overflow-y: auto;
	margin-top: 50px;
}

.show-books-list #books-list, .show-chapters-list #chapters-list, .show-verses-number-list #verses-number-list  {
	height: 100%;
}

#books-list, #chapters-list, #verses-number-list {
	max-height: 100%;
	height: 0%;
	overflow: auto;
	-webkit-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	-webkit-transition-property: height;
	-moz-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	-moz-transition-property: height;
	transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	transition-property: height;
}

#verses-tools {
	width: 350px;
	max-width: 100%;
	position: relative;
	-webkit-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	-webkit-transition-property: bottom;
	-moz-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	-moz-transition-property: bottom;
	transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	transition-property: bottom;
	overflow: hidden;
}

#verses-tools #verses-tools-content {
	position: absolute;
	overflow: auto;
	width: 100%;
	height: 100%;
	top: 0;
	padding: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.no-error-field {
	margin-bottom: 0;
}

.no-error-field .md-errors-spacer {
	display: none;
}
.chapter-search-input {
	margin: 0 0 10px;
}
