.verse p {
	padding: 5px 10px;
	margin: 8px 0px;
	font-size: 1em;
}

.verse p sup {
	font-weight: bold;
	padding-right: 5px;
}

.verse.yellow p, .color-button.yellow {
	background-color: #F6F66E;
}
.md-button.color-button.yellow:hover {
	background-color: rgba(246, 246, 110, .8);
}

.verse.red p, .color-button.red {
	background-color: rgba(208, 85, 85, 1);
	color: #FFFFFF;
}
.md-button.color-button.red:hover {
	background-color: rgba(208, 85, 85, .8);
}

.verse.purple p, .color-button.purple {
	background-color: rgba(145, 109, 167, 1);
	color: #FFFFFF;
}
.md-button.color-button.purple:hover {
	background-color: rgba(145, 109, 167, .8);
}

.verse.blue p, .color-button.blue {
	background-color: rgba(191, 218, 241, 1);
}
.md-button.color-button.blue:hover {
	background-color: rgba(191, 218, 241, .8);
}

.verse.green p, .color-button.green {
	background-color: rgba(91, 154, 142, 1);
	color: #FFFFFF;
}
.md-button.color-button.green:hover {
	background-color: rgba(91, 154, 142, .8);
}

.verse.pink p, .color-button.pink {
	background-color: rgba(241, 192, 237, 1);
}
.md-button.color-button.pink:hover {
	background-color: rgba(241, 192, 237, .8);
}

.verse.orange p, .color-button.orange {
	background-color: rgba(236, 176, 124, 1);
}
.md-button.color-button.orange:hover {
	background-color: rgba(236, 176, 124, .8);
}

#verses-list {
	margin-bottom: 50px;
}

md-list.md-dense md-list-item .md-list-item-text .verse p {
	font-size: .85em;
}

md-list.md-dense md-list-item .md-list-item-text {
	min-height: 45px;
	width: 100%;
	outline: none;
}

md-list-item.highlighted {
	background-color: rgba(158, 158, 158, 0.2);
}

md-list-item.selected {
	background-color: rgba(158, 158, 158, 0.4);
}

.select-search-select-header {}

.select-search-select-header .select-header-searchbox {
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	padding: 0;
}

.select-search-select-header .select-search-header {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
	padding-left: 10.667px;
	height: 48px;
	cursor: pointer;
	position: absolute;
	display: flex;
	align-items: center;
	width: auto;
	z-index: 40;
	width: 100%;
}

.select-search-select-header md-content._md {
	max-height: 240px;
	overflow: hidden;
	padding-top: 60px;
}

.select-search-select-header md-content._md md-optgroup {
	max-height: 240px;
	overflow-y: auto;
	margin-top: 50px;
}

.show-books-list #books-list, .show-chapters-list #chapters-list, .show-verses-number-list #verses-number-list  {
	height: 100%;
}

#books-list, #chapters-list, #verses-number-list {
	max-height: 100%;
	height: 0%;
	overflow: auto;
	-webkit-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	-webkit-transition-property: height;
	-moz-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	-moz-transition-property: height;
	transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	transition-property: height;
}

#verse-toolbar {
	min-height: 50px;
	height: 50px;
	bottom: -50px;
	position: fixed;
	-webkit-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	-webkit-transition-property: bottom;
	-moz-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	-moz-transition-property: bottom;
	transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	transition-property: bottom;
}

#verse-toolbar.show-verse-toolbar {
	bottom: 0;
}

.no-error-field {
	margin-bottom: 0;
}

.no-error-field .md-errors-spacer {
	display: none;
}
