<md-card flex-offset-md="30" flex-offset-sm="20" flex-md="40" flex-sm="60" flex-gt-md="30" flex-offset-gt-md="35">
  <md-card-title>
    <md-card-title-text>
      <h2 class="md-headline">Reset sua senha</h2>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="column" layout-align="space-between">
    <h4 class="md-subhead info-text">Digite seu nome de usuário</h4>
    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" novalidate autocomplete="off" layout="column">
      <md-input-container flex>
        <md-icon md-font-set="material-icons">fingerprint</md-icon>
        <label>Usuário</label>
        <input type="text" name="username" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" lowercase required autofocus>
        <div ng-messages="vm.forgotPasswordForm.username.$error" ng-if="vm.forgotPasswordForm.username.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
        </div>
      </md-input-container>
      <div layout="row" layout-align="end center">
        <md-button type="submit" class="md-primary md-raised">
          <md-icon md-font-set="material-icons">send</md-icon>
          Enviar
        </md-button>
      </div>
    </form>
  </md-card-content>
</md-card>
