<md-card flex-offset-md="30" flex-offset-sm="20" flex-md="40" flex-sm="60" flex-gt-md="30" flex-offset-gt-md="35">
  <md-card-title>
    <md-card-title-text>
      <h2 class="md-headline">Reset sua senha</h2>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="column" layout-align="space-between">
    <h4 class="md-subhead info-text">Digite seu nome de usuário</h4>
    <form name="vm.resetPasswordForm" ng-submit="vm.resetUserPassword(vm.resetPasswordForm.$valid)" class="signin" novalidate autocomplete="off" layout="column">
      <md-input-container class="md-accent" flex>
        <md-icon md-font-set="material-icons">lock_outline</md-icon>
        <label>Nova Senha</label>
        <input type="password" name="newPassword" ng-model="vm.passwordDetails.newPassword" minlength="7" maxlength="20" password-validator autofocus required>
        <div ng-messages="vm.resetPasswordForm.newPassword.$error" ng-if="vm.resetPasswordForm.newPassword.$touched">
          <div ng-message="required">Digite uma senha.</div>
          <div ng-message="minlength">Digite uma senha de no mínimo 7 caracteres</div>
        </div>
      </md-input-container>
      <md-input-container class="md-accent" flex>
        <md-icon md-font-set="material-icons">lock_outline</md-icon>
        <label>Confirme a Senha</label>
        <input type="password" name="verifyPassword" ng-model="vm.passwordDetails.verifyPassword" password-verify="vm.passwordDetails.newPassword" minlength="7" maxlength="20" password-validator required>
        <div ng-messages="vm.resetPasswordForm.verifyPassword.$error" ng-if="vm.resetPasswordForm.verifyPassword.$touched">
          <div ng-message="required">Digite a senha novamente para confirmar.</div>
          <div ng-message="minlength">Digite uma senha de no mínimo 7 caracteres</div>
          <div class="md-input-message-animation" ng-show="vm.resetPasswordForm.verifyPassword.$error.passwordVerify">As senhas não conferem.</div>
        </div>
      </md-input-container>
      <div ng-show="!vm.resetPasswordForm.newPassword.$error.required" flex>
        <label>
          Força da Senha
          <md-button class="md-icon-button">
            <md-icon md-font-set="material-icons">help_outline</md-icon>
            <md-tooltip md-direction="top">{{getPopoverMsg}}</md-tooltip>
          </md-button>
        </label>
        <md-progress-linear ng-class="'requirement-bar-' + requirementsColor" md-mode="determinate" value="{{requirementsProgress}}"></md-progress-linear>
      </div>
      <div layout="row" layout-align="end center">
        <md-button type="submit" class="md-primary md-raised">
          <md-icon md-font-set="material-icons">send</md-icon>
          Enviar
        </md-button>
      </div>
    </form>
  </md-card-content>
</md-card>
