<section layout="column" layout-padding>
  <div layout="row">
    <h2 class="md-title">Pesquisar Notas</h2>
  </div>
  <md-divider></md-divider>
  <h3 class="md-subheader">Filtro</h3>
  <form name="vm.form.notesFilter" ng-submit="vm.search(vm.form.notesFilter.$valid)" novalidate>
    <div layout="column" layout-gt-sm="row" layout-wrap>
      <md-autocomplete flex
                       md-input-name="abbrev"
                       md-min-length="0"
                       md-selected-item="vm.searchForm.book"
                       md-search-text="vm.notesSearchTerm"
                       md-items="item in vm.booksQuerySearch(vm.notesSearchTerm)"
                       md-item-text="item.name"
                       md-require-match
                       md-floating-label="Livro">
        <md-item-template>
          <span md-highlight-text="vm.notesSearchTerm" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
          Nenhum livro para o termpo "{{vm.notesSearchTerm}}" foi encontrado.
        </md-not-found>
        <div ng-messages="vm.form.notesFilter.abbrev.$error">
          <div ng-message="md-require-match">Por favor, selecione um livro existente.</div>
        </div>
      </md-autocomplete>
      <md-input-container flex>
        <label>Pesquisa</label>
        <md-icon md-font-set="material-icons">filter_list</md-icon>
        <input type="text" name="searchTerm" ng-model="vm.searchForm.searchTerm" minlength="3">
        <div ng-messages="vm.form.notesFilter.searchTerm.$error">
          <div ng-message="minlength">O termo da pesquisa deve possuir no mínimo 3 caracteres.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="center center">
      <md-button type="submit" class="md-primary md-raised">
        <md-icon md-font-set="material-icons">search</md-icon>
        Pesquisar
      </md-button>
    </div>
  </form>
  <md-divider></md-divider>
  <md-list flex>
    <div ng-if="vm.result && vm.result.length === 0">
      <md-subheader class="md-no-sticky" layout="row" layout-align="center center">
        Nenhum registro encontrado
      </md-subheader>
      <md-divider></md-divider>
    </div>
    <md-list-item class="md-3-line md-long-text secondary-button-padding" ng-repeat="result in vm.result">
      <div class="md-list-item-text" layout="column">
        <h3>{{ vm.abbrevBooks[result.book] + ' - ' + result.chapter }}</h3>
        <h4>Versos: {{ result.verses.join(', ') }}</h4>
        <p md-highlight-text="vm.searchForm.searchTerm" md-highlight-flags="i">{{ result.note }}</p>
      </div>
      <md-button class="md-secondary md-icon-button" ui-sref="bible.view({ version: 'aa', abbrev: result.book, chapter: result.chapter })" aria-label="Ir para o capítulo">
        <md-icon md-font-set="material-icons">send</md-icon>
        <md-tooltip>Ir para o capítulo</md-tooltip>
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</section>
