<section layout="column" layout-padding>
  <div layout="row">
    <h2 class="md-title">Pesquisar Marcadores</h2>
  </div>
  <md-divider></md-divider>
  <h3 class="md-subheader">Filtro</h3>
  <form name="vm.form.notesFilter" ng-submit="vm.search(vm.form.notesFilter.$valid)" novalidate>
    <div layout="column" layout-gt-sm="row" layout-wrap>
      <md-autocomplete flex
                       md-input-name="abbrev"
                       md-min-length="0"
                       md-selected-item="vm.searchForm.book"
                       md-search-text="vm.notesSearchTerm"
                       md-items="item in vm.booksQuerySearch(vm.notesSearchTerm)"
                       md-item-text="item.name"
                       md-require-match
                       md-floating-label="Livro">
        <md-item-template>
          <span md-highlight-text="vm.notesSearchTerm" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
          Nenhum livro para o termpo "{{vm.notesSearchTerm}}" foi encontrado.
        </md-not-found>
        <div ng-messages="vm.form.notesFilter.abbrev.$error">
          <div ng-message="md-require-match">Por favor, selecione um livro existente.</div>
        </div>
      </md-autocomplete>
      <md-input-container flex>
        <label>Marcadores</label>
        <md-select ng-model="vm.searchForm.markers"
                   md-on-close="vm.clearSearchTerm()"
                   data-md-container-class="select-search-select-header select-colored"
                   multiple>
          <md-select-header class="select-search-header">
            <input ng-model="vm.searchTerm"
                   type="search"
                   placeholder="Pesquise por um marcador"
                   class="select-header-searchbox md-text">
          </md-select-header>
          <md-optgroup label="Marcadores">
            <md-option ng-value="marker.marker" ng-repeat="marker in vm.markers |
              filter: vm.searchTerm" ng-class="marker.marker">{{marker.legend}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
    <div layout="row" layout-align="center center">
      <md-button type="submit" class="md-primary md-raised">
        <md-icon md-font-set="material-icons">search</md-icon>
        Pesquisar
      </md-button>
    </div>
  </form>
  <md-divider></md-divider>
  <section flex>
    <div ng-if="vm.result && vm.result.length === 0">
      <md-subheader class="md-no-sticky" layout="row" layout-align="center center">
        Nenhum registro encontrado
      </md-subheader>
      <md-divider></md-divider>
    </div>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab ng-repeat="markers in vm.result" ng-class="markers._id.marker" label="{{ vm.legends[markers._id.marker].legend }}">
        <md-content class="md-padding">
          <md-list class="md-dense" flex>
            <div ng-repeat="book in markers.books">
              <md-subheader>{{ vm.abbrevBooks[book.name] }}</md-subheader>
              <md-list-item class="md-3-line md-long-text secondary-button-padding" ng-repeat="chapter in book.chapters">
                <div class="md-list-item-text" layout="column">
                  <h3>{{ 'Capítulo: ' + chapter.chapter }}</h3>
                  <p ng-if="!vm.verseRefTexts[book.name + '-' + chapter.chapter]">Versos: {{ chapter.verses }}</p>
                  <div ng-if="vm.verseRefTexts[book.name + '-' + chapter.chapter]">
                    <p ng-repeat="verse in chapter.versesArray">
                      {{ verse + ' - ' + vm.verseRefTexts[book.name + '-' + chapter.chapter][verse] }}
                    </p>
                  </div>
                </div>
                <md-button class="md-secondary md-icon-button" aria-label="Visualizar versículos"  ng-click="vm.getVerseRefText(book.name, chapter.chapter)">
                  <md-icon md-font-set="material-icons">remove_red_eye</md-icon>
                  <md-tooltip>Visualizar versículos</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button" ui-sref="bible.view({ version: 'aa', abbrev: book.name, chapter: chapter.chapter })" aria-label="Ir para o capítulo">
                  <md-icon md-font-set="material-icons">forward</md-icon>
                  <md-tooltip>Ir para o capítulo</md-tooltip>
                </md-button>
                <md-divider></md-divider>
              </md-list-item>
            </div>
          </md-list>
        </md-content>
      </md-tab>
    </md-tabs>
  </section>
</section>
