.note-dialog {
	max-width: 100%;
	width: 400px;
}
.tags-dialog {
	max-width: 100%;
	width: 400px;
}
.refs-dialog {
	max-width: 100%;
	width: 600px;
}
.vertical-autocomplete-form md-autocomplete md-input-container {
	margin-bottom: 0;
}
