<section layout="column" layout-padding>
  <div layout="row">
    <h2 class="md-title" translate>Books</h2>
    <div flex></div>
    <list-action-bar module-name="books"></list-action-bar>
  </div>
  <md-divider></md-divider>
  <h3 class="md-subheader" translate>Filter</h3>
  <form name="vm.form.bookFilter">
    <div layout="column" layout-gt-sm="row" layout-wrap>
      <md-input-container flex>
        <label translate>Version</label>
        <md-icon md-font-set="material-icons">filter_list</md-icon>
        <input name="value" type="text" ng-model="vm.searchForm.version">
      </md-input-container>
      <md-input-container flex>
        <label translate>Abbrev</label>
        <md-icon md-font-set="material-icons">filter_list</md-icon>
        <input name="value" type="text" ng-model="vm.searchForm.abbrev">
      </md-input-container>
      <md-input-container flex>
        <label translate>Search</label>
        <md-icon md-font-set="material-icons">filter_list</md-icon>
        <input name="value" type="text" ng-model="vm.searchForm.searchTerm">
      </md-input-container>
    </div>
    <md-button ng-click="vm.search()">Search</md-button>
  </form>
  <md-divider></md-divider>
  <md-list class="md-dense" flex>
    <div ng-if="!vm.result || (vm.result | filter: { 'name': vm.bookFilter.value, 'active': vm.bookFilter.active  }).length == 0">
      <md-subheader class="md-no-sticky" layout="row" layout-align="center center">
        {{ 'No records' | translate }}
      </md-subheader>
      <md-divider></md-divider>
    </div>
    <md-list-item class="md-2-line secondary-button-padding" ng-repeat="result in vm.result | filter: { 'name': vm.bookFilter.value, 'active': vm.bookFilter.active  }">
      <div class="md-list-item-text" layout="column">
        <h3>{{ result }}</h3>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</section>
