<section layout="column" layout-padding>
  <div layout="row">
    <h2 class="md-title" translate>Books</h2>
    <div flex></div>
    <list-action-bar module-name="books"></list-action-bar>
  </div>
  <md-divider></md-divider>
  <h3 class="md-subheader" translate>Filter</h3>
  <form name="vm.form.bookFilter">
    <div layout="column" layout-gt-sm="row" layout-wrap>
      <md-input-container flex>
        <label translate>Search</label>
        <md-icon md-font-set="material-icons">filter_list</md-icon>
        <input name="value" type="text" ng-model="vm.bookFilter.value">
      </md-input-container>
      <md-input-container flex>
        <label translate>Active</label>
        <md-icon md-font-set="material-icons">check</md-icon>
        <md-select ng-model="vm.bookFilter.active">
          <md-option ng-value=""><span translate>All</span></md-option>
          <md-option ng-value="true" translate>Yes</md-option>
          <md-option ng-value="false" translate>No</md-option>
        </md-select>
      </md-input-container>
    </div>
  </form>
  <md-divider></md-divider>
  <md-list class="md-dense" flex>
    <div ng-if="!vm.books || (vm.books | filter: { 'name': vm.bookFilter.value, 'active': vm.bookFilter.active  }).length == 0">
      <md-subheader class="md-no-sticky" layout="row" layout-align="center center">
        {{ 'No records' | translate }}
      </md-subheader>
      <md-divider></md-divider>
    </div>
    <md-list-item class="md-2-line secondary-button-padding" ng-repeat="book in vm.books | filter: { 'name': vm.bookFilter.value, 'active': vm.bookFilter.active  }">
      <div class="md-list-item-text" layout="column">
        <h3>{{ book.name }}</h3>
        <p class="md-caption">
          {{ "Posted on" | translate }}
          <span ng-bind="book.created | date:'mediumDate'"></span>
          {{ "by" | translate }}
          <span ng-if="book.user" ng-bind="book.user.displayName"></span>
          <span ng-if="!book.user" translate>Deleted User</span>
        </p>
        <md-menu class="md-secondary">
          <md-button ng-click="$mdMenu.open()" class="md-icon-button">
            <md-icon md-font-set="material-icons">more_vert</md-icon>
            <md-tooltip><span translate>Actions</span></md-tooltip>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ui-sref="books.view({ bookId: book._id })">
                <md-icon class="md-primary" md-font-set="material-icons">remove_red_eye</md-icon>
                {{ 'View' | translate }}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ui-sref="books.edit({ bookId: book._id })">
                <md-icon class="md-accent" md-font-set="material-icons">edit</md-icon>
                {{ 'Edit' | translate }}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.changeState($event, book)">
                <md-icon ng-if="book.active === true" class="md-warn" md-font-set="material-icons">remove_circle</md-icon>
                <md-icon ng-if="book.active === false" class="md-accent md-hue-2" md-font-set="material-icons">check_circle</md-icon>
                {{ book.active === true ? 'Inactivate' : 'Activate' | translate }}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</section>
