<div id="books-list">
  <div ng-cloak layout="row" layout-padding>
    <md-input-container class="no-error-field" flex>
      <label>Filtrar</label>
      <input ng-model="vm.bookSearchTerm">
    </md-input-container>
  </div>
  <div layout="row">
    <div flex>
      <md-subheader ng-cloak>Antigo Testamento</md-subheader>
      <md-list ng-cloak layout="row" class="md-dense" layout-wrap>
        <md-list-item ng-repeat="book in vm.bookList.at | filter: vm.bookSearchTerm" ng-click="vm.changeBook(book.abbrev)" flex="50">
          {{ book.name }}
        </md-list-item>
      </md-list>
    </div>
    <div flex>
      <md-subheader ng-cloak>Novo Testamento</md-subheader>
      <md-list ng-cloak layout="row" class="md-dense" layout-wrap>
        <md-list-item ng-repeat="book in vm.bookList.nt | filter: vm.bookSearchTerm" ng-click="vm.changeBook(book.abbrev)" flex="50">
          {{ book.name }}
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>