<div flex layout="column" layout-fill ng-class="vm.showSelectionClass">
  <!--<ng-include src="'/modules/books/client/views/list-books.client.tmpl.html'"></ng-include>-->
  <div id="books-list">
    <div ng-cloak layout="row" layout-padding>
      <md-input-container class="no-error-field" flex>
        <label>Filtrar</label>
        <input ng-model="vm.bookSearchTerm">
      </md-input-container>
    </div>
    <div layout="row">
      <div flex>
        <md-subheader ng-cloak>Antigo Testamento</md-subheader>
        <md-list ng-cloak layout="row" class="md-dense" layout-wrap>
          <md-list-item ng-repeat="book in vm.bookList.at | filter: vm.bookSearchTerm" ng-click="vm.selectBook(book)" flex="50">
            {{book.name}}
          </md-list-item>
        </md-list>
      </div>
      <div flex>
        <md-subheader ng-cloak>Novo Testamento</md-subheader>
        <md-list ng-cloak layout="row" class="md-dense" layout-wrap>
          <md-list-item ng-repeat="book in vm.bookList.nt | filter: vm.bookSearchTerm" ng-click="vm.selectBook(book)" flex="50">
            {{book.name}}
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>
  <div id="chapters-list">
    <div layout="column">
      <md-subheader ng-cloak>{{vm.selectedBook.name}}</md-subheader>
      <div layout="row" layout-wrap>
        <div ng-repeat="chapter in vm.chaptersAmmount track by $index">
          <md-button class="md-primary" ng-click="vm.selectChapter($index + 1)">{{$index + 1}}</md-button>
        </div>
      </div>
    </div>
  </div>
  <div id="verses-number-list">
    <div layout="column">
      <md-subheader ng-cloak>{{vm.selectedBook.name}} > {{vm.chapter}}</md-subheader>
      <div layout="row" layout-wrap>
        <div ng-repeat="verse in vm.versesAmmount track by $index">
          <md-button class="md-primary" ng-click="vm.highlightVerse($index + 1)">{{$index + 1}}</md-button>
        </div>
      </div>
    </div>
  </div>

  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <md-button ng-click="vm.prevChap()" class="md-fab md-mini md-accent" ng-disabled="vm.chapter == 1">
        <md-icon class="md-accent" md-font-set="material-icons">navigate_before</md-icon>
        <md-tooltip><span>Capítulo Anterior</span></md-tooltip>
      </md-button>
      <div flex></div>
      <md-button class="md-primary md-raised" ng-click="vm.toggleBooksList()">
        <md-icon md-font-set="material-icons">book</md-icon>
        {{vm.isListOpen() ? 'Livro' : vm.book.book}}
        <md-tooltip><span>Selecionar Livro</span></md-tooltip>
      </md-button>
      <md-button class="md-primary md-raised" ng-click="vm.toggleChaptersList()">
        {{vm.isListOpen() ? 'Capítulo' : 'Cap: ' + vm.chapter}}
        <md-tooltip><span>Selecionar Capítulo</span></md-tooltip>
      </md-button>
      <md-button class="md-primary md-raised" ng-click="vm.toggleVersesList()">
        {{vm.isListOpen() ? 'Versículo' : (vm.highlightedVerse ? 'Ver: ' + vm.highlightedVerse : 'Ver')}}
        <md-tooltip><span>Selecionar Versículo</span></md-tooltip>
      </md-button>
      <div flex></div>
      <md-button ng-click="vm.nextChap()" class="md-fab md-mini md-accent" ng-disabled="vm.chapter == vm.book.numberOfChapters">
        <md-icon class="md-accent" md-font-set="material-icons">navigate_next</md-icon>
        <md-tooltip><span>Próximo Capítulo</span></md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <div flex layout="row">
    <md-content flex id="verses-list" ng-init="vm.setVersesUserMeta()">
      <md-list class="md-dense">
        <md-list-item ng-repeat="verse in vm.book.chapters[0].verses track by $index" md-no-ink class="verse" ng-class="vm.getVerseClass($index + 1)" id="verse-{{$index + 1}}">
          <span class="pre-verse">
            <md-button class="md-icon-button note-button">
              <md-icon md-font-set="material-icons">speaker_notes</md-icon>
            </md-button>
            <md-card class="notes-preview">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Notas</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <div ng-repeat="note in vm.notes[$index + 1]">
                  <div layout="row">
                    <div flex>
                      <span class="md-body-2">Nota</span>
                      <p class="md-caption">{{note.note}}</p>
                      <span class="md-body-2">Versos</span>
                      <p class="md-caption">{{vm.arrayToString(note.verses)}}</p>
                    </div>
                    <div layout="column">
                      <md-button class="md-icon-button" ng-click="vm.showNoteDialog($event, note)">
                        <md-tooltip>Editar Nota</md-tooltip>
                        <md-icon md-font-set="material-icons">edit</md-icon>
                      </md-button>
                      <md-button class="md-icon-button" ng-click="vm.showConfirmRemoveVerseNote($event, note)">
                        <md-tooltip>Remover Nota</md-tooltip>
                        <md-icon md-font-set="material-icons">delete</md-icon>
                      </md-button>
                    </div>
                  </div>
                  <md-divider ng-if="!$last"></md-divider>
                </div>
              </md-card-content>
            </md-card>
          </span>
          <div class="md-list-item-text verse-list-item" layout="column" ng-click="vm.selectVerse($index + 1)">
            <p class="verse-text">
              <sup>{{$index + 1}}</sup>
              {{verse}}
            </p>
          </div>
          <span class="pos-verse">
            <md-button class="md-icon-button more-button">
              <md-icon md-font-set="material-icons">more</md-icon>
            </md-button>
            <md-card class="more-preview">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Tags</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <div ng-repeat="tag in vm.tags[$index + 1]">
                  <div layout="row">
                    <div flex>
                      <span class="md-body-2">Tags</span>
                      <p class="md-caption">{{vm.arrayToString(tag.tags)}}</p>
                      <span class="md-body-2">Versos</span>
                      <p class="md-caption">{{vm.arrayToString(tag.verses)}}</p>
                    </div>
                    <div layout="column">
                      <md-button class="md-icon-button" ng-click="vm.showTagsDialog($event, tag)">
                        <md-tooltip>Editar Tags</md-tooltip>
                        <md-icon md-font-set="material-icons">edit</md-icon>
                      </md-button>
                      <md-button class="md-icon-button" ng-click="vm.showConfirmRemoveVerseTag($event, tag)">
                        <md-tooltip>Remover Tags</md-tooltip>
                        <md-icon md-font-set="material-icons">delete</md-icon>
                      </md-button>
                    </div>
                  </div>
                  <md-divider ng-if="!$last"></md-divider>
                </div>
              </md-card-content>
            </md-card>
          </span>
        </md-list-item>
      </md-list>
    </md-content>
    <div id="verses-tools" ng-class="vm.selectedVerses.length > 0 ? 'show-verses-tools' : ''">
      <div id="verses-tools-content">
        <span>({{vm.selectedVerses.length}})</span>
        <md-button class="md-icon-button" ng-click="vm.selectAllVerses()">
          <md-icon md-font-set="material-icons">check_box</md-icon>
          <md-tooltip md-direction="top">Selecionar Todos</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="vm.selectedVerses = []">
          <md-icon md-font-set="material-icons">check_box_outline_blank</md-icon>
          <md-tooltip md-direction="top">Deselecionar Todos</md-tooltip>
        </md-button>
        <md-button class="md-icon-button color-button white" ng-click="vm.unmarkVerses()">
          <md-tooltip md-direction="top">Desmarcar</md-tooltip>
        </md-button>
        <md-button class="md-icon-button color-button yellow" ng-click="vm.markVerses('yellow')">
          <md-tooltip md-direction="top">Amarelo</md-tooltip>
        </md-button>
        <md-button class="md-icon-button color-button red" ng-click="vm.markVerses('red')">
          <md-tooltip md-direction="top">Vermelho</md-tooltip>
        </md-button>
        <md-button class="md-icon-button color-button purple" ng-click="vm.markVerses('purple')">
          <md-tooltip md-direction="top">Roxo</md-tooltip>
        </md-button>
        <md-button class="md-icon-button color-button blue" ng-click="vm.markVerses('blue')">
          <md-tooltip md-direction="top">Azul</md-tooltip>
        </md-button>
        <md-button class="md-icon-button color-button green" ng-click="vm.markVerses('green')">
          <md-tooltip md-direction="top">Verde</md-tooltip>
        </md-button>
        <md-button class="md-icon-button color-button pink" ng-click="vm.markVerses('pink')">
          <md-tooltip md-direction="top">Rosa</md-tooltip>
        </md-button>
        <md-button class="md-icon-button color-button orange" ng-click="vm.markVerses('orange')">
          <md-tooltip md-direction="top">Alaranjado</md-tooltip>
        </md-button>
        <md-button class="md-icon-button color-button" ng-click="vm.showNoteDialog()">
          <md-icon md-font-set="material-icons">note_add</md-icon>
          <md-tooltip md-direction="top">Adicionar Nota</md-tooltip>
        </md-button>
        <md-button class="md-icon-button color-button" ng-click="vm.showTagsDialog()">
          <md-icon md-font-set="material-icons">more</md-icon>
          <md-tooltip md-direction="top">Adicionar Tags</md-tooltip>
        </md-button>
      </div>
    </div>
  </div>
</div>
