<div flex layout="column" layout-fill ng-class="vm.showBooksList ? 'show-books-list' : ''">
  <ng-include src="'/modules/books/client/views/list-books.client.tmpl.html'"></ng-include>
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <md-button ng-click="vm.prevChap()" class="md-fab md-mini md-primary" ng-disabled="vm.chapter == 1">
        <md-icon class="md-accent" md-font-set="material-icons">navigate_before</md-icon>
        <md-tooltip><span>Capítulo Anterior</span></md-tooltip>
      </md-button>
      <md-button class="md-primary md-raised" ng-click="vm.toggleBooksList()">{{vm.book.book}}</md-button>
      <div flex></div>
      <!--<md-input-container flex md-truncate>-->
        <!--<label>Livros</label>-->
        <!--<md-select ng-model="vm.abbrev" md-on-close="clearBookSearchTerm()" ng-change="vm.changeBook()" data-md-container-class="select-search-select-header">-->
          <!--<md-select-header class="select-search-header">-->
            <!--<input ng-model="vm.bookSearchTerm" type="search" placeholder="Digite para pesquisar" class="select-header-searchbox md-text">-->
          <!--</md-select-header>-->
          <!--<md-optgroup label="Livros">-->
            <!--<md-option ng-value="book.abbrev" ng-repeat="book in vm.bookList | filter: vm.bookSearchTerm">{{book.name}}</md-option>-->
          <!--</md-optgroup>-->
        <!--</md-select>-->
      <!--</md-input-container>-->
      <md-button ng-click="vm.nextChap()" class="md-fab md-mini md-primary" ng-disabled="vm.chapter == vm.book.numberOfChapters">
        <md-icon class="md-accent" md-font-set="material-icons">navigate_next</md-icon>
        <md-tooltip><span>Próximo Capítulo</span></md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <div flex layout="row">
    <md-content flex>
      <md-list class="md-dense" flex>
        <md-list-item ng-repeat="verse in vm.book.chapters[0].verses track by $index" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <p class="verse">
              <sup>{{$index + 1}}</sup>
              {{ verse }}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
