<div flex layout="column" layout-fill ng-class="vm.showSelectionClass">
  <!--<ng-include src="'/modules/books/client/views/list-books.client.tmpl.html'"></ng-include>-->
  <div id="books-list">
    <div ng-cloak layout="row" layout-padding>
      <md-input-container class="no-error-field" flex>
        <label>Filtrar</label>
        <input ng-model="vm.bookSearchTerm">
      </md-input-container>
    </div>
    <div layout="row">
      <div flex>
        <md-subheader ng-cloak>Antigo Testamento</md-subheader>
        <md-list ng-cloak layout="row" class="md-dense" layout-wrap>
          <md-list-item ng-repeat="book in vm.bookList.at | filter: vm.bookSearchTerm" ng-click="vm.selectBook(book)" flex="50">
            <span md-highlight-text="vm.bookSearchTerm" md-highlight-flags="i">{{book.name}}</span>
          </md-list-item>
        </md-list>
      </div>
      <div flex>
        <md-subheader ng-cloak>Novo Testamento</md-subheader>
        <md-list ng-cloak layout="row" class="md-dense" layout-wrap>
          <md-list-item ng-repeat="book in vm.bookList.nt | filter: vm.bookSearchTerm" ng-click="vm.selectBook(book)" flex="50">
            <span md-highlight-text="vm.bookSearchTerm" md-highlight-flags="i">{{book.name}}</span>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>
  <div id="chapters-list">
    <div layout="column">
      <md-subheader ng-cloak>{{vm.selectedBook.name}}</md-subheader>
      <div layout="row" layout-wrap>
        <div ng-repeat="chapter in vm.chaptersAmmount track by $index">
          <md-button class="md-primary" ng-click="vm.selectChapter($index + 1)">{{$index + 1}}</md-button>
        </div>
      </div>
    </div>
  </div>
  <div id="verses-number-list">
    <div layout="column">
      <md-subheader ng-cloak>{{vm.selectedBook.name}} > {{vm.chapter}}</md-subheader>
      <div layout="row" layout-wrap>
        <div ng-repeat="verse in vm.versesAmmount track by $index">
          <md-button class="md-primary" ng-click="vm.highlightVerse($index + 1)">{{$index + 1}}</md-button>
        </div>
      </div>
    </div>
  </div>

  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <md-button ng-click="vm.prevChap()" class="md-fab md-mini md-accent" ng-disabled="vm.chapter == 1">
        <md-icon class="md-accent" md-font-set="material-icons">navigate_before</md-icon>
        <md-tooltip><span>Capítulo Anterior</span></md-tooltip>
      </md-button>
      <div flex></div>
      <md-button class="md-primary md-raised" ng-click="vm.toggleBooksList()">
        <md-icon md-font-set="material-icons">book</md-icon>
        {{vm.isListOpen() ? 'Livro' : vm.book.book}}
        <md-tooltip><span>Selecionar Livro</span></md-tooltip>
      </md-button>
      <md-button class="md-primary md-raised" ng-click="vm.toggleChaptersList()">
        <md-icon md-font-set="material-icons">looks_one</md-icon>
        {{vm.isListOpen() ? 'Capítulo' : 'Cap: ' + vm.chapter}}
        <md-tooltip><span>Selecionar Capítulo</span></md-tooltip>
      </md-button>
      <md-button class="md-primary md-raised" ng-click="vm.toggleVersesList()">
        <md-icon md-font-set="material-icons">format_list_numbered</md-icon>
        {{vm.isListOpen() ? 'Versículo' : (vm.highlightedVerse ? 'Ver: ' + vm.highlightedVerse : 'Ver')}}
        <md-tooltip><span>Selecionar Versículo</span></md-tooltip>
      </md-button>
      <div flex></div>
      <md-button ng-click="vm.nextChap()" class="md-fab md-mini md-accent" ng-disabled="vm.chapter == vm.book.numberOfChapters">
        <md-icon class="md-accent" md-font-set="material-icons">navigate_next</md-icon>
        <md-tooltip><span>Próximo Capítulo</span></md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <div flex layout="row">
    <md-content flex id="verses-list" ng-init="vm.setVersesUserMeta()">
      <md-list class="md-dense">
        <md-list-item ng-repeat="verse in vm.verses | filter: vm.searchTerm" md-no-ink class="verse" ng-class="vm.getVerseClass(verse.number)" id="verse-{{verse.number}}">
          <span class="pre-verse" ng-mouseenter="vm.showNotesPreview($event, verse.number)" ng-mouseleave="vm.hidePreviewCards()">
            <md-button class="md-icon-button note-button">
              <md-icon md-font-set="material-icons">speaker_notes</md-icon>
            </md-button>
          </span>
          <div class="md-list-item-text verse-list-item" layout="column" ng-click="vm.selectVerse(verse.number)">
            <p class="verse-text">
              <sup>{{verse.number}}</sup>
              <span md-highlight-text="vm.searchTerm" md-highlight-flags="i">{{verse.text}}</span>
            </p>
          </div>
          <span class="pos-verse" ng-mouseenter="vm.showMorePreview($event, verse.number)" ng-mouseleave="vm.hidePreviewCards()">
            <md-button class="md-icon-button more-button">
              <md-icon md-font-set="material-icons">more</md-icon>
            </md-button>
          </span>
        </md-list-item>
      </md-list>
      <md-card class="notes-preview" ng-class="vm.notesPreviewClass" ng-style="{ top: vm.previewCardTop + 'px' }">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Notas</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div ng-repeat="note in vm.notes[vm.versePreviewShowing]">
            <div layout="row">
              <div flex>
                <span class="md-body-2">Nota</span>
                <p class="md-caption">{{note.note}}</p>
                <span class="md-body-2">Versos</span>
                <p class="md-caption">{{vm.arrayToString(note.verses)}}</p>
              </div>
              <div layout="column">
                <md-button class="md-icon-button" ng-click="vm.showNoteDialog($event, note)">
                  <md-tooltip>Editar Nota</md-tooltip>
                  <md-icon md-font-set="material-icons">edit</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.showConfirmRemoveVerseNote($event, note)">
                  <md-tooltip>Remover Nota</md-tooltip>
                  <md-icon md-font-set="material-icons">delete</md-icon>
                </md-button>
              </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </div>
        </md-card-content>
      </md-card>
      <md-card class="more-preview" ng-class="vm.morePreviewClass" ng-style="{ top: vm.previewCardTop + 'px' }">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Tags</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div ng-repeat="tag in vm.tags[vm.versePreviewShowing]">
            <div layout="row">
              <div flex>
                <span class="md-body-2">Tags</span>
                <p class="md-caption">{{vm.arrayToString(tag.tags)}}</p>
                <span class="md-body-2">Versos</span>
                <p class="md-caption">{{vm.arrayToString(tag.verses)}}</p>
              </div>
              <div layout="column">
                <md-button class="md-icon-button" ng-click="vm.showTagsDialog($event, tag)">
                  <md-tooltip>Editar Tags</md-tooltip>
                  <md-icon md-font-set="material-icons">edit</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.showConfirmRemoveVerseTag($event, tag)">
                  <md-tooltip>Remover Tags</md-tooltip>
                  <md-icon md-font-set="material-icons">delete</md-icon>
                </md-button>
              </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </div>
        </md-card-content>
      </md-card>
    </md-content>
    <div id="verses-tools">
      <div id="verses-tools-content" layout="column">
        <h3>Pesquisar</h3>
        <div layout="row">
          <md-input-container class="no-error-field chapter-search-input" flex>
            <md-icon md-font-set="material-icons">search</md-icon>
            <label>Digite para pesquisar no capítulo</label>
            <input ng-model="vm.searchTerm"/>
          </md-input-container>
        </div>

        <h3>Seleção<span ng-if="vm.selectedVerses.length" class="md-caption">: {{vm.selectedVerses.length}} Verso(s) Selecionado(s)</span></h3>
        <div layout="row">
          <md-button class="md-icon-button" ng-click="vm.selectAllVerses()">
            <md-icon md-font-set="material-icons">check_box</md-icon>
            <md-tooltip>Selecionar Todos</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" ng-click="vm.selectedVerses = []">
            <md-icon md-font-set="material-icons">check_box_outline_blank</md-icon>
            <md-tooltip>Deselecionar Todos</md-tooltip>
          </md-button>
        </div>
        <md-divider></md-divider>

        <div ng-if="vm.selectedVerses.length > 0">
          <h3>Copiar</h3>
          <md-button class="md-icon-button" ngclipboard ngclipboard-success="vm.onCopySuccess(e)" data-clipboard-text="{{ vm.selectedVersesText }}">
            <md-icon md-font-set="material-icons">content_copy</md-icon>
            <md-tooltip>Copiar</md-tooltip>
          </md-button>
          <md-divider></md-divider>

          <h3>Marcar Versos</h3>
          <div>
            <md-button class="md-icon-button" ng-click="vm.unmarkVerses()">
              <md-icon md-font-set="material-icons">panorama_fish_eye</md-icon>
              <md-tooltip>Desmarcar</md-tooltip>
            </md-button>
            <md-button class="md-icon-button color-button yellow" ng-click="vm.markVerses('yellow')">
              <md-icon md-font-set="material-icons">lens</md-icon>
              <md-tooltip>Amarelo</md-tooltip>
            </md-button>
            <md-button class="md-icon-button color-button red" ng-click="vm.markVerses('red')">
              <md-icon md-font-set="material-icons">lens</md-icon>
              <md-tooltip>Vermelho</md-tooltip>
            </md-button>
            <md-button class="md-icon-button color-button purple" ng-click="vm.markVerses('purple')">
              <md-icon md-font-set="material-icons">lens</md-icon>
              <md-tooltip>Roxo</md-tooltip>
            </md-button>
            <md-button class="md-icon-button color-button blue" ng-click="vm.markVerses('blue')">
              <md-icon md-font-set="material-icons">lens</md-icon>
              <md-tooltip>Azul</md-tooltip>
            </md-button>
            <md-button class="md-icon-button color-button green" ng-click="vm.markVerses('green')">
              <md-icon md-font-set="material-icons">lens</md-icon>
              <md-tooltip>Verde</md-tooltip>
            </md-button>
            <md-button class="md-icon-button color-button pink" ng-click="vm.markVerses('pink')">
              <md-icon md-font-set="material-icons">lens</md-icon>
              <md-tooltip>Rosa</md-tooltip>
            </md-button>
            <md-button class="md-icon-button color-button orange" ng-click="vm.markVerses('orange')">
              <md-icon md-font-set="material-icons">lens</md-icon>
              <md-tooltip>Alaranjado</md-tooltip>
            </md-button>
          </div>
          <md-divider></md-divider>

          <h3>Adicionar Metadados</h3>
          <div layout="row">
            <md-button class="md-icon-button color-button" ng-click="vm.showNoteDialog()">
              <md-icon md-font-set="material-icons">speaker_notes</md-icon>
              <md-tooltip>Adicionar Nota</md-tooltip>
            </md-button>
            <md-button class="md-icon-button color-button" ng-click="vm.showTagsDialog()">
              <md-icon md-font-set="material-icons">more</md-icon>
              <md-tooltip>Adicionar Tags</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
