<md-card-content layout="column" layout-align="space-between">
  <form name="vm.passwordForm" ng-submit="vm.changeUserPassword(vm.passwordForm.$valid)" class="signin" novalidate autocomplete="off">
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <md-icon md-font-set="material-icons">lock_open</md-icon>
        <label>Senha Atual</label>
        <input type="password" name="currentPassword" ng-model="vm.passwordDetails.currentPassword" minlength="7" maxlength="20" autofocus required>
        <div ng-messages="vm.passwordForm.currentPassword.$error" ng-if="vm.passwordForm.currentPassword.$touched">
          <div ng-message="required">Digite sua senha atual.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <md-icon md-font-set="material-icons">lock_outline</md-icon>
        <label>Nova Senha</label>
        <input type="password" name="newPassword" ng-model="vm.passwordDetails.newPassword" minlength="7" maxlength="20" password-validator required>
        <div ng-messages="vm.passwordForm.newPassword.$error" ng-if="vm.passwordForm.newPassword.$touched">
          <div ng-message="required">Digite uma senha.</div>
          <div ng-message="minlength">Digite uma senha de no mínimo 7 caracteres</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <md-icon md-font-set="material-icons">lock_outline</md-icon>
        <label>Confirme a Senha</label>
        <input type="password" name="verifyPassword" ng-model="vm.passwordDetails.verifyPassword" minlength="7" password-verify="vm.passwordDetails.newPassword" maxlength="20" required>
        <div ng-messages="vm.passwordForm.verifyPassword.$error" ng-if="vm.passwordForm.verifyPassword.$touched">
          <div ng-message="required">Digite a senha novamente para confirmar.</div>
          <div ng-message="minlength">Digite uma senha de no mínimo 7 caracteres</div>
          <div class="md-input-message-animation" ng-show="vm.passwordForm.verifyPassword.$error.passwordVerify">As senhas não conferem.</div>
        </div>
      </md-input-container>
    </div>
    <div ng-show="!vm.passwordForm.newPassword.$error.required" flex>
      <label>
        Força da Senha
        <md-button class="md-icon-button">
          <md-icon md-font-set="material-icons">help_outline</md-icon>
          <md-tooltip md-direction="top">{{getPopoverMsg}}</md-tooltip>
        </md-button>
      </label>
      <md-progress-linear ng-class="'requirement-bar-' + requirementsColor" md-mode="determinate" value="{{requirementsProgress}}"></md-progress-linear>
    </div>
    <div layout="row" layout-align="end center">
      <md-button type="submit" class="md-primary md-raised">
        <md-icon md-font-set="material-icons">send</md-icon>
        Enviar
      </md-button>
    </div>
  </form>
</md-card-content>
