<md-card-content layout="column" layout-align="space-between">
  <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" novalidate autocomplete="off" layout="column">
    <div layout-gt-sm="row">
      <md-input-container flex-gt-sm>
        <md-icon md-font-set="material-icons">account_box</md-icon>
        <label>Primeiro Nome</label>
        <input type="text" name="firstName" ng-model="vm.user.firstName" required>
        <div ng-messages="vm.userForm.firstName.$error" ng-if="vm.userForm.firstName.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
        </div>
      </md-input-container>
      <md-input-container flex-gt-sm>
        <md-icon md-font-set="material-icons">account_box</md-icon>
        <label>Sobrenome</label>
        <input type="text" name="lastName" ng-model="vm.user.lastName" required>
        <div ng-messages="vm.userForm.lastName.$error" ng-if="vm.userForm.lastName.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container flex-gt-sm>
        <md-icon md-font-set="material-icons">email</md-icon>
        <label>Email</label>
        <input type="email" name="email" ng-model="vm.user.email" lowercase required>
        <div ng-messages="vm.userForm.email.$error" ng-if="vm.userForm.email.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
          <div ng-message="email">Insira um endereço de email válido.</div>
        </div>
      </md-input-container>
      <md-input-container flex-gt-sm>
        <md-icon md-font-set="material-icons">fingerprint</md-icon>
        <label>Usuário</label>
        <input type="text" name="username" ng-model="vm.user.username" ng-pattern="vm.usernameRegex" lowercase required>
        <div ng-messages="vm.userForm.username.$error" ng-if="vm.userForm.username.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
          <div ng-message="pattern">Por favor, insira um nome de usuário válido: Mais de 3 caracteres, sem palavras restritas, caracteres "_-.", sem pontos consecutivos, não começar ou terminar com pontos, letras a-z e números 0-9.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="end center">
      <md-button type="submit" class="md-primary md-raised">
        <md-icon md-font-set="material-icons">save</md-icon>
        Salvar
      </md-button>
    </div>
  </form>
</md-card-content>
