<md-card flex-offset-md="30" flex-offset-sm="20" flex-md="40" flex-sm="60" flex-gt-md="30" flex-offset-gt-md="35">
  <md-card-title>
    <md-card-title-text>
      <h2 class="md-headline">Entre com suas redes sociais</h2>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="column" layout-align="space-between">
    <h4 class="md-subhead info-text">Ou cadastre-se usando seu email</h4>
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off" layout="column">
      <md-input-container flex>
        <md-icon md-font-set="material-icons">account_box</md-icon>
        <label>Primeiro Nome</label>
        <input type="text" name="firstName" ng-model="vm.credentials.firstName" required>
        <div ng-messages="vm.userForm.firstName.$error" ng-if="vm.userForm.firstName.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <md-icon md-font-set="material-icons">account_box</md-icon>
        <label>Sobrenome</label>
        <input type="text" name="lastName" ng-model="vm.credentials.lastName" required>
        <div ng-messages="vm.userForm.lastName.$error" ng-if="vm.userForm.lastName.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <md-icon md-font-set="material-icons">email</md-icon>
        <label>Email</label>
        <input type="email" name="email" ng-model="vm.credentials.email" lowercase required>
        <div ng-messages="vm.userForm.email.$error" ng-if="vm.userForm.email.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
          <div ng-message="email">Insira um endereço de email válido.</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <md-icon md-font-set="material-icons">fingerprint</md-icon>
        <label>Usuário</label>
        <input type="text" name="username" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" lowercase required>
        <div ng-messages="vm.userForm.username.$error" ng-if="vm.userForm.username.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
          <div ng-message="pattern">Por favor, insira um nome de usuário válido: Mais de 3 caracteres, sem palavras restritas, caracteres "_-.", sem pontos consecutivos, não começar ou terminar com pontos, letras a-z e números 0-9.</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <md-icon md-font-set="material-icons">lock_outline</md-icon>
        <label>Senha</label>
        <input type="password" name="password" ng-model="vm.credentials.password" minlength="7" maxlength="20" password-validator required>
        <div ng-messages="vm.userForm.password.$error" ng-if="vm.userForm.password.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
          <div ng-message="minlength">Digite uma senha de no mínimo 7 caracteres</div>
        </div>
      </md-input-container>
      <div ng-show="!vm.userForm.password.$error.required" flex>
        <label>
          Força da Senha
          <md-button class="md-icon-button">
            <md-icon md-font-set="material-icons">help_outline</md-icon>
            <md-tooltip md-direction="top">{{getPopoverMsg}}</md-tooltip>
          </md-button>
        </label>
        <md-progress-linear ng-class="'requirement-bar-' + requirementsColor" md-mode="determinate" value="{{requirementsProgress}}"></md-progress-linear>
      </div>
      <div layout="row" layout-align="end center">
        <md-button ui-sref="authentication.signin">Já sou cadastrado</md-button>
        <md-button type="submit" class="md-primary md-raised">
          <md-icon md-font-set="material-icons">send</md-icon>
          Enviar
        </md-button>
      </div>
    </form>
  </md-card-content>
</md-card>
