<md-card flex-offset-md="30" flex-offset-sm="20" flex-md="40" flex-sm="60" flex-gt-md="30" flex-offset-gt-md="35">
  <md-card-title>
    <md-card-title-text>
      <h2 class="md-headline">Entre com suas redes sociais</h2>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="column" layout-align="space-between">
    <h4 class="md-subhead info-text">Ou preencha seus dados de acesso</h4>
    <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off" layout="column">
      <md-input-container class="md-accent" flex>
        <md-icon md-font-set="material-icons">face</md-icon>
        <label>Usuário ou Email</label>
        <input type="text" name="usernameOrEmail" ng-model="vm.credentials.usernameOrEmail" required>
        <div ng-messages="vm.userForm.usernameOrEmail.$error" ng-if="vm.userForm.usernameOrEmail.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-accent" flex>
        <md-icon md-font-set="material-icons">lock_outline</md-icon>
        <label>Senha</label>
        <input type="password" name="password" ng-model="vm.credentials.password" required>
        <div ng-messages="vm.userForm.password.$error" ng-if="vm.userForm.password.$touched">
          <div ng-message="required">Este campo é obrigatório.</div>
        </div>
      </md-input-container>
      <div layout="row" layout-align="end center">
        <md-button class="md-accent" ui-sref="password.forgot">Esqueceu sua senha?</md-button>
        <md-button type="submit" class="md-accent md-raised">
          <md-icon md-font-set="material-icons">lock_open</md-icon>
          Entrar
        </md-button>
      </div>
    </form>
  </md-card-content>
</md-card>
